<%= form_for @earthquake, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :place, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :place, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :magnitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :magnitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :time, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                earthquakes_path, :class => 'btn' %>
  </div>
<% end %>
